[Unit]
Description=HamoniKR PC Checker Application Service
Before=graphical-session-pre.target
Wants=hamonikr-pcchecker.timer

[Service]
Type=simple
ExecStart=/usr/local/bin/pcchecker_notify.py

[Install]
WantedBy=graphical-session-pre.target