[Unit]
Description=HamoniKR PC Checker Application Service
PartOf=graphical-session.target
After=gnome-session.service
Wants=hamonikr-pcchecker.timer

[Service]
Type=oneshot
ExecStart=/bin/sh -ec ' \
    /usr/bin/python3 /usr/local/bin/pcchecker_notify.py || true; \
        for v in DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY; do \
            dbus-update-activation-environment --systemd $$v; \
        done; \
    fi'

[Install]
WantedBy=graphical-session.target