[Desktop Entry]
Version=1.0
Name=pcchecker-notify
Type=Application
Exec=/bin/sh -c "systemctl --user import-environment && systemctl --user start hamonikr-pcchecker"
Terminal=false
Categories=Application;
X-GNOME-Autostart-Delay=20
X-MATE-Autostart-Delay=20