[Unit]
Description=HamoniKR PC Checker Application Service
Wants=hamonikr-pcchecker.timer

[Service]
Type=simple
ExecStart=/usr/local/bin/pcchecker_notify.py

[Install]
WantedBy=graphical.target